/* Force this page only to be dark */
:root {
  color-scheme: dark;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

#photo-wrapper {
  max-width: 1500px;
  margin: auto;
  column-width: 400px;
  column-gap: 10px;
  @media (max-width: 900px) {
    columns: 2;
  }
}

#photo-wrapper > img {
  width: 100%;
  display: block;
  cursor: pointer;
  padding: 5px;
  border-radius: 0 25px;
}

#large-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #4c026940;
  cursor: pointer;
}

#large-photo {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: auto;
  user-select: none;
}

#large-info {
  float: right;
}