@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  --green: #0a5640;
  --light-green: #76bd22;
  --orange: #e14504;
  --blue: #00a1e0;
}

body {
  display: block;
  margin: 50px 0 0 0;
}

h1 {
  padding: 0;
  text-align: center;
  font-size: 70px;
  font-family: Montserrat, sans-serif;
  color: var(--green);
}

.admin h1 {
  margin-top: 60px;
  font-size: 30px;
}

#google-wrapper {
  float: right;
  /* Magic number */
  width: 227px;
}

#activity-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.isRanked, .isNotRanked, .cannotSelect {
  flex-basis: 300px;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid var(--green);
  margin: 20px;
  cursor: pointer;
}

.rank {
  width: 50px;
  height: 50px;
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  float: left;
}

.isNotRanked .rank {
  border: 2px dashed grey;
}

.isRanked .rank {
  border: 2px solid var(--green);
  background-color: var(--green);
  color: white;
}

.cannotSelect {
  border-color: grey;
  color: grey;
  text-decoration: line-through;
}

.cannotSelect .rank {
  border: 2px solid grey;
}

img {
  height: 40px;
  float: left;
  margin-right: 10px;
}

.admin-choice {
  padding: 5px;
  border: 2px solid var(--green);
  border-radius: 5px;
  margin-bottom: 10px;
  flex-basis: 500px;
  margin: 5px;
  flex-grow: 1;
  text-align: left;
}

.admin-choice-name {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  max-width: 300px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.admin-choice-id {
  color: grey;
}

.admin-choice-delete {
  color: var(--orange);
  text-decoration: underline;
  cursor: pointer;
}

.admin-choice-grade {
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    line-height: 0.8;
  float: right;
  width: 15px;
  color: var(--blue);
}

#student-submit {
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 24px;
  background-color: var(--green);
  color: white;
  font-family: Montserrat, sans-serif;
  margin: auto;
  border: none;
}

#logout {
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 18px;
  background-color: var(--green);
  color: white;
  font-family: Montserrat, sans-serif;
  margin: auto;
  border: none;
  /*Assuming no log in*/
  display: none;
  cursor: pointer;
  float: right;
}

header {
  padding: 5px 10px;
  width: calc(100% - 20px);
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 3px solid var(--light-green);
}

.admin #message {
  margin: 0;
}

#header-message {
  float: left;
  height: 40px;
  line-height: 40px;
}

footer {
  position: relative;
  bottom: 0;
}

main {
  min-height: calc(100vh - 100px);
}

#admin {
  height: 100%;
  padding: 5px;
}

#admin > #activity-wrapper {
  width: 70%;
  float: left;
}

#sidebar {
  height: calc(100vh - 53px);
  width: 260px;
  background-color: #ddd;
  float: right;
  position: fixed;
  top: 53px;
  right: 0;
  padding: 10px;
}

.admin h1, .admin p, #admin-activity-wrapper {
  width: calc(100vw - 300px - 10px);
}

#admin-activity-wrapper {
  display: flex;
  flex-wrap: wrap;
}

button {
  color: white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-family: Montserrat;
}

#sidebar > button {
  margin: 5px;
  width: 200px;
}

#activity-add, #activity-submit {
  background-color: var(--blue);
}

#view-student {
  background-color: var(--light-green);
}

#popup {
  display: none;;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 225px);
  width: 450px;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  border: 3px solid var(--blue);
  padding: 20px;
}

#popup-ok {
  right: 20px;
  color: white;
  background-color: var(--orange);
  border: 3px solid var(--orange)
}

#popup-cancel {
  left: 20px;
  background-color: white;
  border: 3px solid var(--green);
}

#popup > button {
  position: absolute;
  bottom: 20px;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="text"], input[type="number"] {
  background-color: white;
  border: 3px solid var(--blue);
  padding: 5px;
  font-size: 18px;;
  border-style: none none solid none;
  margin:5px auto;
}

input[type="text"]:focus, input[type="number"]:focus {
  border-color: var(--orange);
  outline: none;
}

input[type="checkbox"] {
  accent-color: var(--green);
  height: 20px;
  width: 20px;

}