@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  --green: #0a5640;
  --light-green: rgb(157, 223, 79);
}


h1 {
  padding: 20px;
  text-align: center;
  font-size: 70px;
  font-family: Montserrat, sans-serif;
  color: var(--green);
}

#google-wrapper {
  float: right;
  /* Magic number */
  width: 227px;
}

#student {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.isRanked, .isNotRanked, .cannotSelect {
  flex-basis: 300px;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid var(--green);
  margin: 20px;
  cursor: pointer;
}

.rank {
  width: 50px;
  height: 50px;
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  float: left;
}

.isNotRanked .rank {
  border: 2px dashed grey;
}

.isRanked .rank {
  border: 2px solid var(--green);
  background-color: var(--green);
  color: white;
}

.cannotSelect {
  border-color: grey;
  color: grey;
  text-decoration: line-through;
}

.cannotSelect .rank {
  border: 2px solid grey;
}

img {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.adminChoice {
  padding: 20px;
  border: 2px solid var(--green);
  border-radius: 10px;
  margin-bottom: 10px;
}

#admin {
  columns: 2;
  padding: 20px;
}

#student-submit {
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  background-color: var(--green);
  color: white;
  font-family: Montserrat, sans-serif;
  margin: auto;
  border: none;
}

#logout {
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 18px;
  background-color: var(--green);
  color: white;
  font-family: Montserrat, sans-serif;
  margin: auto;
  border: none;
  /*Assuming no log in*/
  display: none;
  cursor: pointer;
  float: right;
}

header {
  padding: 5px 10px;
  width: calc(100% - 20px);
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 3px solid var(--light-green);
}

#header-message {
  float: left;
  height: 40px;
  line-height: 40px;
}

footer {
  position: relative;
  bottom: 0;
}

main {
  min-height: calc(100vh - 100px);
}