/*
@media (min-width: 500px) {
  #logo {
    width: 200px;
    margin: 40px auto 20px auto;
    display: block;
  }
}

@media (max-width: 499px) {
  #logo {
    width: 50%;
    margin: 40px auto 40px auto;
    display: block;
  }
}
  */

@keyframes spin {
  0% {
    transform: rotate(0deg);
    filter: contrast(1);
  }
  50% {
    filter: contrast(1.5);
  }
  100% {
    transform: rotate(360deg);
    filter: contrast(1);
  }
}

#logo {
  background-color: white;
  border-radius: 50%;
}

main > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.photo-wrapper {
  width: 200px;
  height: 200px;
  transition: all 0.1s ease-out;
}

.photo-wrapper:hover {
  width: 250px;
  height: 250px;
  transform: rotate(5deg);
  transition: all 0.1s ease-out;
}

.photo-wrapper::after {
  content: "";
  top: -100%;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/assets/bubblering.svg);
  background-size: cover;
}

.photo-wrapper:hover::after {
  animation: spin infinite 1s linear;
}

