/* 
  This file is imported by essential.css. It's both my custom stuff and takes inspiration from the...

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin");
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&display=swap');

/* Custom variables */
:root {
  --orange: #ffccb5;
	--pink: #edb1ff;
	--blue: #b1c2ff;
	--off-black: #131314;
	--off-purple: #25172b;
	--dark-blue: #1a095e;
	--magenta: #8f0bc2;
  --gradient-light: linear-gradient(135deg, rgb(255,204,181) 0%, rgb(237,177,255) 55%, rgb(177,194,255) 100%);
  --gradient-sunset: linear-gradient(135deg, rgb(204,129,8) 0%, rgb(143,11,194) 100%);
  --gradient-dark: linear-gradient(135deg, rgb(111,0,110) 0%, rgb(26, 9, 94) 70%, rgb(0,58,111) 100%);
}

/* These may not inherit, but give me peace of mind */
:root {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  line-height: 1.2;
	vertical-align: baseline;
  font-family: "Anek Latin", sans-serif;
	scrollbar-gutter: stable;
  color-scheme: light dark;
}

main {
  color: light-dark(black, white);
  background-color: light-dark(white, var(--off-black));
}

h1 {
  font-size: 40px;
  margin: 0 0 30px 0;
}

h2 {
  font-size: 25px;
  margin: 10px 0 20px 0;
}

h1, h2 {
  font-family: Asap, sans-serif;
  text-align: center;
}

img {
  display: block;
}

p {
  font-size: 18px;
  margin: 0;
}

a {
  color: light-dark(var(--magenta), var(--pink));
}

a:hover {
  text-decoration-color: var(--magenta);
}

a[href^="http"]::after {
  content: "";
  position: relative;
  top: 3px;
  width: 15px;
  height: 15px;
  padding-left: 5px;
  background: right / contain no-repeat url(/assets/external.svg);
  display: inline-block;
}

/* Container for the boxes- Used on all project pages (lego, coding, etc.) */
#project-wrapper {
  margin: auto;
  max-width: 600px;
  @media (min-width: 1000px) {
    max-width: 1000px;
    columns: 2 auto;
    column-gap: 30px;
  } 
}

#project-wrapper > div {
  display:inline-block;
  width: calc(100% - 30px - 4px);
  margin: 15px 0;
  padding: 25px;
  border: 2px solid transparent;
  border-radius: 5px;
  @media (prefers-color-scheme: light) {
    background: linear-gradient(135deg, #fffa, #fff6) padding-box, var(--gradient-light) padding-box, var(--gradient-dark) border-box;
  }
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(135deg, #000a, #0004) padding-box, var(--gradient-dark) padding-box, var(--gradient-light) border-box;
  }
  box-shadow: 0 0 15px 0 light-dark(var(--pink), var(--magenta));
}