/* This is imported by essential.css */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Generic styling */
main {
  color: light-dark(black, white);
  background-color: light-dark(white, var(--off-black));
}

h1 {
  font-family: Asap, sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-family: Asap, sans-serif;
  font-size: 25px;
  margin: 10px 0 20px 0;
}

p {
  font-size: 18px;
}

a {
  color: light-dark(var(--magenta), var(--pink));
}

a:hover {
  text-decoration-color: var(--magenta);
}

a[href^="http"]::after {
  content: "";
  position: relative;
  top: 3px;
  width: 15px;
  height: 15px;
  padding-left: 5px;
  background: right / contain no-repeat url(/assets/external.svg);
  display: inline-block;
}

/* All photo related stuff- for main page (photos page has own css file) */
main > div:has(.photo-wrapper) {
  justify-content: center;
  display: flex;
}

.photo-wrapper {
  margin: 20px;
  width: 200px;
  height: 200px;
  transition: all 0.1s ease-out;
}

.photo-wrapper:hover {
  filter: brightness(110%);
  transition: all 0.1s ease-out;
}

.photo-wrapper::after {
  content: "";
  top: -100%;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/assets/bubblering.svg);
  background-size: cover;
}

.photo-wrapper:hover::after {
  animation: spin infinite 3s linear;
}

.photo-wrapper > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white; /* for transparent images in dark mode */
  border-radius: 50%;
}

/* Used on all project pages (lego, coding, etc.) */
#project-wrapper {
  margin: auto;
  max-width: 600px;
  @media (min-width: 1000px) {
    max-width: 1000px;
    columns: 2 auto;
    column-gap: 30px;
  }
  
}

#project-wrapper > div {
  display:inline-block;
  width: calc(100% - 30px - 4px);
  margin: 15px 0;
  padding: 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  @media (prefers-color-scheme: light) {
    background: linear-gradient(135deg, #fffa, #fff6) padding-box,
                var(--gradient-light) padding-box, var(--gradient-dark) border-box;
  }
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(135deg, #000a, #0004) padding-box,
                var(--gradient-dark) padding-box, var(--gradient-light) border-box;
  }
  box-shadow: 0 0 15px 0 light-dark(var(--pink), var(--magenta));
}